---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: '关于我',
};
---

<Layout metadata={metadata}>
  <Content>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        关于我
      </h3>
      <div class="flex flex-col gap-3">
        <p>
          喜欢折腾, 热爱探索, 分享我的各种经历, 希望能帮到你!
        </p>
      </div>
    </Fragment>
  </Content>
</Layout>
