---
import Layout from '~/layouts/PageLayout.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: `Ricky's Blog - Make a Thing and Share with World`,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- 个人简介部分 -->
  <Hero>
    <Fragment slot="title">
      Ricky's Place for <span class="text-accent dark:text-white highlight">Exploring</span> & <span class="text-accent dark:text-white highlight">Sharing</span>
    </Fragment>
    <Fragment slot="subtitle">
      学习 | 思考 | 实践 | 分享
    </Fragment>
  </Hero>

  <!-- 最新文章列表 -->
  <BlogLatestPosts 
    title="最新文章"
    information={`I write about AI, programming, PKM and more...`}
  />
</Layout>
